[submodule "Assignments/Simple-Sockets"]
	path = Assignments/Simple-Sockets
	url = https://github.com/prince-chrismc/Simple-Socket.git
[submodule "Assignments/Cli-Parser"]
	path = Assignments/Cli-Parser
	url = https://github.com/prince-chrismc/Cli-Parser.git
